<br />
<br />


<div class="row">
    <div class="col-md-6 col-xs-12 ">
        <div class="paciente center">
            <img src="~/Content/images/icone-paciente.png" /><h2>Paciente</h2>
            <p><a class="btn btn-sucess" href="http://go.microsoft.com/fwlink/?LinkId=301870">PACIENTE</a></p>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="doador center">
                <img src="~/Content/images/icone-doador.png" /> <h2>Doador</h2>
            <form>
                <div class="form-group">
                    <label for=" class="col-md-3">Paciente</label>
                    <input type="text" class="form-control pacientePesquisa col-md-9" id="paciente" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="" class="col-md-3">Hospital</label>
                    <input type="password" class="form-control hospitalPesquisa col-md-9" id="hospital" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-danger">Submit</button>
            </form>

            <p><a class="btn btn-sucess" href="http://go.microsoft.com/fwlink/?LinkId=301871">DOADOR</a></p>
        </div>
    </div>

</div>
