<br />
<br />


<div class="row">
    <div class="col-md-6 col-xs-12">
        <h2>Getting started</h2>
      
        <p><a class="btn btn-info" href="/Solicitante/Create">PACIENTE</a></p>
    </div>
    <div class="col-md-6 col-xs-12">
        <h2>Get more libraries</h2>
        
        <p><a class="btn btn-danger" href="/Solicitante">DOADOR</a></p>
    </div>

    <!-- FORMULARIO-->



</div>
